<section>
  <div>
    <h2>Test response:</h2>
    <p>{{ this.response }}</p>
  </div>
  <div>
    <h2>Prompt response:</h2>
    <form class="prompt-form">
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label> -->
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        (keydown.enter)="prompt_update($event)"
        [(ngModel)]="prompt"
      ></textarea>
      <!-- </mat-form-field> -->
    </form>
    <p>{{ this.prompt_response }}</p>
  </div>
</section>
