<section>
  <h2>What is your name and age?</h2>
  <div class="user-input-area">
    <div class="user-input-element user-input-name">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        (keyup)="name_update($event)"
      />
    </div>
    <div class="user-input-element left-margin user-input-age">
      <label for="name">Age</label>
      <input
        type="text"
        id="age"
        name="age"
        required
        (keyup)="age_update($event)"
      />
    </div>
  </div>
  <h2>How would you like your story to start?</h2>
  <app-step [name]="name" [age]="age"></app-step>
</section>
